<% include partials/header %>

<p class="pageTitle">Camel Trench</p>
<p class="pageDate">November 25, 2019</p>
<p>
  <img
    class="pageImg"
    src="https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
    alt="trench coat picture"
  />
</p>

<p class="pageText">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nulla sit,
  est quae vitae optio distinctio, quos pariatur omnis corrupti corporis
  deleniti quisquam ut cum numquam ullam architecto tenetur rerum! Ad minus
  voluptatum nostrum minima rerum, placeat nulla vitae, a perspiciatis
  exercitationem animi facilis natus officiis corporis!
  <br />
  <br />
  Asperiores sequi sapiente doloremque quas aspernatur fugiat odio libero porro
  eius voluptate esse expedita consequatur ratione suscipit dolore laborum rem
  distinctio, provident quasi? Nisi, porro. Nobis labore facilis, sed quis hic
  voluptate pariatur reprehenderit consequatur sint molestiae inventore!
</p>
<button class="pageBtn">Comments</button>
<% include partials/footer %>
