<% include partials/header %>

<div class="dashContainer">
  <p id="title" class="dashTitle">
    Welcome <span class="userName"><%= user.name %></span>
  </p>

  <a class="dashBtn" href="/user/logout" class="href">Logout</a>
</div>

<% include partials/footer %>
