<% include partials/header %>

<div class="container">
  <div id="Post">
    <p class="mpTitle">Camel Trench</p>
    <p class="mpDate">November 25, 2019</p>

    <img
      class="mpImg1"
      src="https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
      alt="trench coat picture"
    />
    <!-- <i class="social1 far fa-arrow-alt-circle-right"> </i> -->
    <p class="overlay-text1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium
      corporis similique molestiae atque, optio veritatis sint pariatur eos iste
      delectus hic. Voluptate ipsa asperiores deserunt eum voluptates voluptatem
      accusamus harum possimus optio earum architecto autem obcaecati enim
      assumenda, quidem nisi laboriosam a magnam modi.
    </p>
    <a class="mpBtn" href="/cameltrench">Read More</a>
    <hr class="style-two" />
  </div>

  <div id="Post">
    <p class="mpTitle">Pink Tulle Skirt</p>
    <p class="mpDate">November 22, 2019</p>

    <img
      class="mpImg2"
      img
      src="https://images.unsplash.com/photo-1501459277917-04a80f948092?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
      alt="Pink Skirt"
    />
    <!-- <i class="social2 far fa-arrow-alt-circle-right"> </i> -->
    <p class="overlay-text2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium
      corporis similique molestiae atque, optio veritatis sint pariatur eos iste
      delectus hic. Voluptate ipsa asperiores deserunt eum voluptates voluptatem
      accusamus harum possimus optio earum architecto autem obcaecati enim
      assumenda, quidem nisi laboriosam a magnam modi.
    </p>
    <a class="mpBtn2" href="/pinktulleskirt">Read More</a>
    <hr class="style-two" />
  </div>

  <div id="Post">
    <p class="mpTitle">What's In My Bag</p>
    <p class="mpDate">November 20, 2019</p>

    <img
      class="mpImg3"
      src="https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
      alt="Acessories"
    />
    <!-- <i class="social3 far fa-arrow-alt-circle-right"> </i> -->
    <p class="overlay-text3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusantium
      corporis similique molestiae atque, optio veritatis sint pariatur eos iste
      delectus hic. Voluptate ipsa asperiores deserunt eum voluptates voluptatem
      accusamus harum possimus optio earum architecto autem obcaecati enim
      assumenda, quidem nisi laboriosam a magnam modi.
    </p>
    <a class="mpBtn3" href="/whatsinmybag">Read More</a>
    <hr class="style-two" />
  </div>
</div>

<% include partials/footer %>
