<% include partials/header %>

<div class="container">
    <div id="Post">
        <p class="mpTitle">Camel Trench</p>
        <p class=mpDate>November 25, 2019</p>

        <img class="mpImg" src="https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
            alt="trench coat picture" />
        <i class="social far fa-arrow-alt-circle-right"> </i>
        <p class="overlay-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
            accusantium corporis similique molestiae atque, optio veritatis sint
            pariatur eos iste delectus hic. Voluptate ipsa asperiores deserunt eum
            voluptates voluptatem accusamus harum possimus optio earum architecto
            autem obcaecati enim assumenda, quidem nisi laboriosam a magnam modi.
        </p>

        <!-- FIX!!!!!!!!!!! -->
        <button class="mpBtn" href="./views/cameltrench">Read More</button>
        <hr class="style-two" />
    </div>
</div>

<% include partials/footer %>