<% include partials/header %>

<div class="containerLogin">
    <div class="box">
        <p id="loginTitle">Let's Connect</p>
        <img id="lhImg" src="https://images.unsplash.com/photo-1485968579580-b6d095142e6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80"
            alt="plaid coat">
        <a class="loginBtn" href="/user/signup">Sign Up</a>
        <a class="loginBtn" href="/user/login">Log In</a>
    </div>
</div>


<% include partials/footer %>