<% include partials/header %>

<div class="staticContainer"></div>
<p id="title">Sorry...</p>
<p class="sTitle">
  there's no content on this page yet <br />
  please come back later...
</p>

<% include partials/footer %>
