body {
  max-width: 100%;
  min-width: 600px !important;
}

#title {
  display: block;
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: 400;
  text-align: center !important;
  letter-spacing: 2px;
  font-size: 55px;
  height: 150px;
  padding-top: 75px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/* ----------
   NAVBAR 
   ----------*/

.navbar-toggle {
  margin: 0 auto;
}

#mainNavbar {
  text-align: center;
  padding-left: 160px;
  padding-right: 100px;
  border-bottom: double 6px #ece0d3;
  width: 100%;
  /* position: fixed; */
}

#navLinks > ul {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li:last-child {
  margin-bottom: 0;
  margin-top: 8px;
  float: right;
}

#navLinks > ul > li > a {
  text-decoration: none;
  color: black;
}

#navLinks > ul > li > a:hover {
  color: #ece0d3;
}

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.dropdown-item {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.dropdown-menu {
  border: solid 1px #ece0d3;
  padding: 20px;
}

.dropdown-item:hover {
  color: #ece0d3;
  background: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#mainNavbar.scrolled {
  background: #ece0d3;
  transition: background 700ms;
  /* margin-top: 0; */
  /* position: fixed; */
}

/* .fixed-top {
  margin-top: 150px;
}*/

p {
  padding-top: 90px;
}

/* -----------
HOMEPAGE BODY
----------- */

.container {
  position: relative;
  padding: 80px 20px 80px 80px;
}
.post {
  margin-top: 50px;
}

.mpTitle {
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

@media screen and (max-width: 990px) {
  .mpTitle {
    font-size: 22px;
  }
}

.mpDate {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  border: solid 1px #ece0d3;
  width: 20%;
  padding: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 990px) {
  .mpDate {
    font-size: 12px;
    width: 25%;
  }
}

@media screen and (max-width: 770px) {
  .mpDate {
    width: 35%;
  }
}

hr.style-two {
  margin-top: 250px;
  border: 0;
  height: 1.4px;
  background: #333;
  margin-bottom: 8%;
  background-image: linear-gradient(to right, #f3eceb, #ece0d3, #f3eceb);
}

.mpImg1 {
  /* edit for media query */
  position: relative;
  width: 40%;
  height: 40%;
  display: block;
  align-content: center;
}

@media screen and (max-width: 770px) {
  .mpImg1 {
    margin-left: 15%;
    width: 70%;
    height: 70%;
    z-index: 1;
    border: 20px solid white;
  }
}

.mpImg2 {
  /* edit for media query */
  position: relative;
  width: 63%;
  height: 6%;
  display: block;
  align-content: center;
  margin-left: 38%;
}

@media screen and (max-width: 770px) {
  .mpImg2 {
    margin-left: 7.5%;
    width: 85%;
    height: 85%;
    z-index: 1;
    border: 20px solid white;
  }
}

.mpImg3 {
  /* edit for media query */
  position: relative;
  width: 42%;
  height: 42%;
  display: block;
  align-content: center;
}

@media screen and (max-width: 770px) {
  .mpImg3 {
    margin-left: 12%;
    width: 75%;
    height: 75%;
    z-index: 1;
    border: 20px solid white;
  }
}
/* 
.social1 {
  position: absolute;
  background: #ece0d3;
  font-size: 20px;
  margin-top: -520px;
  margin-left: 380px;
  padding: 18px;
}

.social1:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 150px;
  transition: 500ms;
  text-align: start;
}

.social2 {
  position: absolute;
  background: #ece0d3;
  font-size: 20px;
  margin-top: -420px;
  margin-left: 375px;
  padding: 18px;
}


.social2:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 150px;
  transition: 500ms;
  text-align: start;
}

.social3 {
  position: absolute;
  background: #ece0d3;
  font-size: 20px;
  margin-top: -520px;
  margin-left: 380px;
  padding: 18px;
}

.social3:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 150px;
  transition: 500ms;
  text-align: start;
}*/

.overlay-text1 {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  position: relative;
  margin-top: -40%;
  margin-left: 35%;
  font-size: 12px;
  width: 60%;
  padding: 50px;
  background: #ece0d3;
  border: 20px solid #ffffff;
}

@media screen and (max-width: 770px) {
  .overlay-text1 {
    text-align: center;
    margin-top: -40px;
    margin-left: 0px;
    width: 100%;
    padding: 30px 20px;
    z-index: 0;
  }
}

.overlay-text2 {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  position: relative;
  margin-top: -30%;
  margin-left: -2%;
  font-size: 12px;
  width: 45%;
  padding: 50px;
  background: #ece0d3;
  border: 20px solid #ffffff;
}

@media screen and (max-width: 1200px) {
  .overlay-text2 {
    margin-top: -38.5%;
  }
}

@media screen and (max-width: 990px) {
  .overlay-text2 {
    padding: 30px;
  }
}

@media screen and (max-width: 770px) {
  .overlay-text2 {
    text-align: center;
    margin-top: -40px;
    margin-left: 0px;
    width: 100%;
    padding: 30px 20px;
    z-index: 0;
  }
}

.overlay-text3 {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  position: relative;
  margin-top: -40%;
  margin-left: 35%;
  font-size: 12px;
  width: 60%;
  padding: 50px;
  background: #ece0d3;
  border: 20px solid #ffffff;
}

@media screen and (max-width: 990px) {
  .overlay-text3 {
    padding: 30px;
    margin-top: -42%;
  }
}

@media screen and (max-width: 770px) {
  .overlay-text3 {
    text-align: center;
    margin-top: -40px;
    margin-left: 0px;
    width: 100%;
    padding: 30px 20px;
    z-index: 0;
  }
}

.mpBtn2 {
  background: #000000;
  color: #ffffff;
  padding: 10px 40px;
  margin-top: -10%;
  margin-left: 13%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 4px #ece0d3;
  text-decoration: none !important;
}

@media screen and (max-width: 1200px) {
  .mpBtn2 {
    margin-left: 10%;
  }
}

@media screen and (max-width: 990px) {
  .mpBtn2 {
    margin-left: 8%;
  }
}

@media screen and (max-width: 770px) {
  .mpBtn2 {
    margin-left: 33%;
  }
}

.mpBtn2:hover {
  background: #ece0d3;
  color: #000000;
  border: double 4px #000000;
}

.mpBtn {
  background: #000000;
  color: #ffffff;
  padding: 10px 40px;
  margin-top: -100px;
  margin-left: 580px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 4px #ece0d3;
  text-decoration: none !important;
}

@media screen and (max-width: 1200px) {
  .mpBtn {
    margin-left: 480px;
  }
}

@media screen and (max-width: 1000px) {
  .mpBtn {
    margin-left: 0px;
  }
}

@media screen and (max-width: 990px) {
  .mpBtn {
    margin-left: 330px;
  }
}

@media screen and (max-width: 770px) {
  .mpBtn {
    margin-left: 140px;
  }
}

.mpBtn:hover {
  background: #ece0d3;
  color: #000000;
  border: double 4px #000000;
}

.mpBtn3 {
  background: #000000;
  color: #ffffff;
  padding: 10px 40px;
  margin-top: -100px;
  margin-left: 595px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 4px #ece0d3;
  text-decoration: none !important;
}

.mpBtn3:hover {
  background: #ece0d3;
  color: #000000;
  border: double 4px #000000;
}

@media screen and (max-width: 1200px) {
  .mpBtn3 {
    margin-left: 480px;
  }
}

@media screen and (max-width: 1000px) {
  .mpBtn3 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 990px) {
  .mpBtn3 {
    margin-left: 330px;
  }
}

@media screen and (max-width: 770px) {
  .mpBtn3 {
    margin-left: 140px;
  }
}

/* --------------
INDV PAGES
-------------- */

.pageTitle {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
}

.pageDate {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.pageImg {
  display: block;
  padding-top: 0;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.pageText {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
  font-size: 14px;
  padding: 5% 22%;
}

.pageBtn {
  background: #000000;
  color: #ffffff;
  padding: 10px 40px;
  margin-left: 45%;
  margin-bottom: 100px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 4px #ece0d3;
}

@media screen and (max-width: 1200px) {
  .pageBtn {
    margin-left: 44%;
  }
}

@media screen and (max-width: 1000px) {
  .pageBtn {
    margin-left: 41%;
  }
}

@media screen and (max-width: 770px) {
  .pageBtn {
    margin-left: 39%;
  }
}

.pageBtn:hover {
  background: #ece0d3;
  color: #000000;
  border: double 4px #000000;
}

/* -----------
LOGIN
----------- */

#loginTitle {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
  margin-left: 58%;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#loginTitle.login {
  margin-left: 67%;
  margin-top: -60px;
}

#loginTitle.suTitle {
  margin-left: 65%;
  margin-bottom: 20px;
  padding-top: 25px;
}

.loginBtn {
  width: 45%;
  text-align: center;
  background: #000000;
  color: #ffffff;
  padding: 7px 40px;
  float: right;
  margin-right: 25px;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 5px #ece0d3;
  text-decoration: none !important;
}

.loginBtn:hover {
  background: #f7f4f0;
  border: double 4px #b6ab9f;
  transition: 250ms;
  color: black;
}

input {
  padding: 4px 20px;
  width: 45%;
  margin-left: 27px;
  margin-bottom: 15px;
  background: #fcfaf9;
  border-style: solid;
  border-width: 1.5px;
  border-color: #b6ab9f;
}

.containerLogin {
  width: 100%;
  height: 550px;
  margin-top: 80px;
}

.box {
  background: #ebe2d7;
  max-width: 45%;
  min-width: 600px;
  height: 75%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 30px;
  border: 5px double #fcfaf9;
}

input::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#lhImg {
  width: 47%;
  height: 108%;
  float: left;
  margin-top: -170px;
}

#lhImg.suImg {
  margin-top: -74px;
}

#lhImg.loginImg {
  margin-top: -110px;
}

.bottomText {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 11px;
  padding-top: 0;
  padding-left: 56%;
  text-transform: uppercase;
}

p > a {
  font-weight: 500;
  color: black;
}

p > a:hover {
  color: black;
  text-decoration: none;
}

/* --------------
DASHBOARD 
-------------- */

.dashContainer {
  margin-top: 14%;
  margin-bottom: 16%;
}

.userName {
  color: #ebe2d7;
  text-transform: lowercase;
  font-size: 50px;
}

.dashBtn {
  background: #000000;
  color: #ffffff;
  padding: 10px 60px;
  margin-left: 43%;
  margin-bottom: 100px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: double 4px #ece0d3;
  text-decoration: none !important;
}

@media screen and (max-width: 990px) {
  .dashBtn {
    margin-left: 40%;
  }
}

@media screen and (max-width: 700px) {
  .dashBtn {
    margin-left: 38%;
  }
}

.dashBtn:hover {
  background: #ece0d3;
  color: #000000;
  border: double 4px #000000;
}

/* ------------
STATIC PAGE
------------ */

.staticContainer {
  margin: 5%;
  width: 100%;
}

.sTitle {
  padding-right: 22%;
  padding-top: 0;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-align: end;
  padding-bottom: 20%;
}

/* ---------
ERROR MSG
---------- */

.alertDesign {
  display: block;
  background: #b6ab9f;
  width: 45%;
  height: 10.5%;
  float: right;
  margin-right: 25px;
  margin-top: -5px;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
}

/* ------------
FOOTER 
------------ */

.footer {
  position: absolute;
  width: 100%;
  background: #ece0d3;
  padding: 30px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -10px;
}

#collage {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
  height: 15%;
  margin-bottom: 0;
}

#collage img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

@media (max-width: 400px) {
  #collage {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
